//Profile config names for nf-core/configs

params {
  config_profile_description = 'RCX_BIO cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Vojtech Barton (@VojtechBarton)'
  config_profile_url = 'https://recetox.muni.cz'
  max_memory = 500.GB
  max_cpus = 64
  max_time = 720.h
}

process {
  executor = 'pbspro'
  maxRetries = 2
  beforeScript = 'module load singularity'
}

executor {
  queueSize = 30
  submitRateLimit = '5 sec'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/mnt/storage-brno12-cerit/share/310000-SCI/999990-rcxag/Projects/2_Infrastructure/1_Bioinformatics/Tools/singularities'
}
